{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% if request.user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
    
{% else %}
{% block content %}


<div class="col-md-4 col-md-offset-4">
<div class="jumbotron" style="margin-top:50px;"> 

	<p>{% trans "Şifrəni unutmusan? E-mail adresnizi daxil edin, sizə şifrənizi yeniləmək üçün email məktub gələcək." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-default" value="{% trans 'Şifrəni yenilə' %}" />
    </form>

    <br>
    <hr>
    <h6><p>{% trans "Əgər şifrəni yeniləməkdə problem yaşayırsızsa, Proqramlaşdırma şöbəsi ilə əlaqə saxlayın" %}</p></h6>

</div>
</div>
{% endblock %}
{% endif %}